@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

header {
    background-color: #5cabca;
    background-image: url(ganyubg.jpg);
    overflow: hidden;
    background-position-y: 22%;
    background-position-x: 35%;
    font-family: 'Jost', sans-serif;
    font-size: 48px;
    text-align: center;
    color: #ffffff;
    height: 250px;
}

nav {
    background-color: #865439;
    overflow:hidden;
    font-family: 'Jost', sans-serif;
    height: 85px;
}

nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    font-size: 48px;
    text-decoration: none;
}

nav a.active {
    background-color: #492a22;
    color: #ffffff;
}

nav a:hover {
    background-color: #B4846C;
    color: #ffffff;
}

nav img {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #dce8ff;
    height: 85px;
    width: 85px;
}

body {
    margin: 0px;
    background-color: #5cabca;
    font-family: 'Indie Flower', cursive;
}

.menuheaders {
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    height: 85px;
}

section {
    color: #ffffff;
    font-size: 24px;
    margin: 5px;
    padding: 20px;
    border: 5px;
    border-radius: 20px;
    border-color: #ffffff;
    border-style: solid;
    background-image: linear-gradient(rgb(0,0,0), rgba(0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.75), rgb(0, 0, 0));
}

#section1 {
    color: #ffffff;
    font-size: 24px;
    margin: 5px;
    padding: 20px;
    border: 5px;
    border-radius: 20px;
    border-color: #ffffff;
    border-style: solid;
    background-image: linear-gradient(rgb(0,0,0), rgba(0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.75), rgb(0, 0, 0));
}

.intro {
    float:left;
    width: 60%;
}

.menuplug {
    float:right;
    width: 30%;
    height: 500px;
}

.menu {
    padding: 5px 5px;
    height: 350px;
}